body {
    margin: 0;
    height: 100vh;
}

#demo {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, 0.2);
    font-size: 7vh;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    z-index: -1;
}

svg {
    display: none;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    fill: none;
    stroke: #ffffff;
    opacity: 0.5;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    stroke-width: 5;
}

svg:hover {
    opacity: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

canvas {
    position: absolute;
    display: block;
    z-index: -2;
}